h1 {
    text-align: center;
}
.scoreboard {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.display {
    margin-top: 20px;
    text-align: center;
    font-size: 1.6em;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.button2 {
    font-size: 5em;
}

.playagain {
    display: flex;
}

.hidden {
    display: none;
}

.hidden2 {
    margin: 10px auto;
    font-size: 1.2em;
}

.highlight-background1 {
    background-color: rgb(70, 239, 70);
}